@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(156 163 175 / 1) rgb(31 41 55 / 1);
}

* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background-color: rgb(31 41 55 / 1);
}

* ::-webkit-scrollbar-thumb {
  background-color: rgb(156 163 175 / 1);
  border-radius: 14px;
  border: 3px solid rgb(31 41 55 / 1);
}

@tailwind components;
@tailwind utilities;
