<div
  style="
    font-family: Helvetica, Arial, sans-serif;
    min-width: 1000px;
    overflow: auto;
    line-height: 2;
  "
>
  <div style="margin: 50px auto; width: 70%; padding: 20px 0">
    <div style="border-bottom: 1px solid #eee">
      <a
        href=""
        style="
          font-size: 1.4em;
          color: #00466a;
          text-decoration: none;
          font-weight: 600;
        "
        >Gereja Pantekosta di Indonesia - Bangkam
      </a>
    </div>
    <p style="font-size: 1.1em">Shalom,</p>
    <p>
      Mari datang beribadah, memuliakan nama Tuhan bersama-sama di GPdI
      El-Shaddai Bangkam. Kami menanti kehadiran Anda dan keluarga disini.
      Gunakan Kode OTP Dibawah Ini Untuk Menyelesaikan Proses {{subject}} Anda.
      Kode OTP Akan Valid Selama 30 Menit
    </p>
    <h2
      style="
        background: #00466a;
        margin: 0 auto;
        width: max-content;
        padding: 0 10px;
        color: #fff;
        border-radius: 4px;
      "
    >
      {{kode_otp}}
    </h2>
    <p style="font-size: 0.9em">
      Salam Kami,<br />Pengurus GPdI El-Shaddai Bangkam
    </p>
    <hr style="border: none; border-top: 1px solid #eee" />
    <div
      style="
        float: right;
        padding: 8px 0;
        color: #aaa;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 300;
      "
    >
      <p>Gereja Pantekosta di Indonesia - Bangkam</p>
      <p>
        Jl. Sungai Kunyit Dalam, Sungai Kunyit Hulu, Sungai Kunyit, Kab.
        Mempawah
      </p>
      <p>Kalimantan Barat</p>
    </div>
  </div>
</div>
